Package: com.iosmod.youtubemusicpremium
Name: YouTubeMusicPremium
Version: 2.0.8
Architecture: iphoneos-arm
Description: YouTube Music Premium
Maintainer: IOSMOD.NET
Author: IOSMOD.NET
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://iosmod.net/img/logo.png
Depiction: https://iosmod.net/
