Package: com.iosmod.youtubemusicpremium
Name: YouTubeMusicPremium
Version: 2.3.1
Architecture: iphoneos-arm
Description: YouTube Music Premium
Maintainer: Minh Thái
Author: Minh Thái
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: https://iosmod.net/img/logo.png
Depiction: https://github.com/thaibm92/YouTubeMusicPremium
